<p id="notice"><%= notice %></p>

<p>
  <strong>Type description:</strong>
  <%= @party_type.type_description %>
</p>

<%= link_to 'Edit', edit_party_type_path(@party_type) %> |
<%= link_to 'Back', party_types_path %>
