<p id="notice"><%= notice %></p>

<p>
  <strong>Type description:</strong>
  <%= @matter_type.type_description %>
</p>

<%= link_to 'Edit', edit_matter_type_path(@matter_type) %> |
<%= link_to 'Back', matter_types_path %>
