<p id="notice"><%= notice %></p>

<p>
  <strong>Resolution code  description:</strong>
  <%= @resolution_code.resolution_code_description %>
</p>

<%= link_to 'Edit', edit_resolution_code_path(@resolution_code) %> |
<%= link_to 'Back', resolution_codes_path %>
