<p id="notice"><%= notice %></p>

<p>
  <strong>Source description:</strong>
  <%= @matter_source.source_description %>
</p>

<%= link_to 'Edit', edit_matter_source_path(@matter_source) %> |
<%= link_to 'Back', matter_sources_path %>
