<p id="notice"><%= notice %></p>

<p>
  <strong>Update description:</strong>
  <%= @update.update_description %>
</p>

<%= link_to 'Edit', edit_update_path(@update) %> |
<%= link_to 'Back', updates_path %>
